[Unit]
Description=Overmyhouse watcher
PartOf=overmyhouse.service
After=overmyhouse.service

[Service]
ExecStart=/usr/local/overmyhouse/overmyhouse
WorkingDirectory=/usr/local/overmyhouse
Restart=on-failure

[Install]
WantedBy=overmyhouse.service
